:root{
    font-size: 10px;
    --primarycolor: #618264;
    --neutralcolor:#000E01;
    --secondarycolor:#79AC78;
    --ibmfont:"IBM Plex Sans Hebrew", sans-serif;
    --interfontfamily:"Inter", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--interfontfamily);
    overflow-x: hidden;
}
body{
    
    /* background-color: #000E01; */
    width: 100vw;
}

/* Traitement de la nav bar */

nav{
    display: flex;
    background-color: rgb(93, 93, 129);
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;
    width: 100%;
}

nav ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    /* background-color: #fff; */
    width: 50%;
    height: 4rem;
    font-size: 2.4rem;
    font-family: var(--interfontfamily);
}

nav a{
    text-decoration: none;
    color: var(--neutralcolor);
   
}

nav a:hover{
    color: var(--secondarycolor);
    /* border-bottom: 1px solid var(--primarycolor); */
    /* padding-bottom: 1rem;
     height: 1rem; */
}

.active{
      color: var(--secondarycolor);
    border-bottom: 1px solid var(--primarycolor);
    padding-bottom: 1rem;

}

.btn{
    width: 17rem;
    height: 5rem;
    border-radius: 3rem;
    background-color: var(--primarycolor);
    border: none;
    color: #ffff;
    font-family: var(--interfontfamily);
    font-size: 1.5rem;
    font-weight: 900;
}
/* FIn de la nav bar */

/* Debut 1 section */
.sec1{
    display: flex;
    margin: 0;
    padding: 6rem 5rem;
    justify-content: space-between;
}

.image{
   flex: 1.7;
}

img[src="./assets/images/Francis-Ngannou-domine-Ciryl-Gane-au-sol-et-remporte-le-combat-par-decision-unanime 1.png"]{
    width: 100%;
    background-color: red;
}

.des_sec1{
    flex: 1;
    /* background: #e0c9c9; */
    padding: 0 6rem 0 0;
    height: 70rem;
}

.des_sec1 h2{
    border-left: var(--primarycolor) 1rem solid;
    /* padding-left: 2rem; */
    /* font-size: 2rem; */
    font-family: var(--ibmfont);
    font-weight: 600;
    height: 4rem;
    margin-left: 4rem;
}

.img_desc1 img{
    width: 23.5rem;
    flex: 1;
}

.des_sec1 li{
    display: flex;
    line-height: 2.3rem;
    align-items: center;
    font-size: 2rem;
    font-family: var(--interfontfamily);
    background-color: #fff;
    padding-top: 7rem;
    margin-left: 4rem;
}

.img_desc1{
   flex: 1;
}

.text_desc1{
    flex: 1.7;
    margin-left: 2rem;
}

.marg{
    margin-top: 2rem;
}

/* Fin */

/* Debut Section 2 */

.sec2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5rem;
    margin: 2rem 4rem;
}

.sec2 img{
    width: 30rem;
    height: 30rem;
}

.desc3{
    color: var(--secondarycolor);
    font-style: italic;
    font-size: 1rem;
}

.desc4{
    font-family: var(--interfontfamily);
    font-weight: 700;
    font-size: 2rem;
}

/* FIn */

/* Debut section 3 */

.sec3{
    margin: 10rem 4rem;
    /* background-color: #7a5656; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.sec3 h2{
    font-size: 5rem;
    font-family: var(--interfontfamily);
    margin-bottom: 6rem;
}

/* FIn  */

/* DEbut section 4 */
.sec4{
    /* background-color: #618264; */
   margin: auto;
}


.sec4_desc{
    display: flex;
    justify-content: space-around;
    margin:0 16rem;

}

.sec4_img {
    /* background-color: aqua; */
    flex: 2.3;
}


.sec4 h1{
    font-family: var(--interfontfamily);
    font-size: 4rem;
    text-align: center;
    margin-bottom:10rem ;
}

.desc-sec4{
    /* background-color: #d64747; */
    flex: 2;
    font-family: var(--interfontfamily);
    font-size: 2rem;
    padding-right: 10rem ;
    line-height: 3rem;
}

.desc-sec4 h2{
    font-family: var(--interfontfamily);
    color: var(--primarycolor);
    font-size: 3rem;
    margin-bottom: 3rem;
    /* background: #000; */
    height: 4rem;
}

.lien1{
    margin: 4rem;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    align-items: center;
    width: 30%;
}

.sec4_jou{
    margin: 5rem 2rem;
}

/* FIn */

/* Debut section 5 */

.sec5{
    display: flex;
    /* background-color: #000E01; */
    margin: 5rem 4rem;
    justify-content: space-between;
}



.desc6 img{
    width: 35rem;
    height: 35rem;
    /* background-color: red; */
}

.desc_7{
    color: var(--secondarycolor);
    font-style: italic;
    font-size: 1rem;
    font-family: var(--ibmfont);
    text-align: center;
}

.desc_8{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

/* Fin */

/* DEbut section 6 */

.sec6{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 17rem 0;
}

.sec6 h2{
    color: var(--secondarycolor);
    font-size: 4rem;
    text-transform: capitalize;
}

.desc_sec6{
    display: flex;
    /* background-color: rgb(36, 190, 218); */
    /* padding: 3rem 5rem; */
    font-size: 2.5rem;
    justify-content: center;
    align-items: center;
    line-height: 4.3rem;
}

.desc_text_sec6{
    flex: 1;
    /* background-color: #fff; */
    margin: 0 0 0 23rem;
}

.desc_text_sec6 h3{
    margin-top: 2rem;
    font-weight: 300;
    font-size: 2.5rem;
}

.lien2{
    margin: 4rem;
    display: flex;
    justify-content: space-between;
    /* background-color: #fff; */
    align-items: center;
    width: 50%;
}

.sec6_img{
    flex: 1.8;
    text-align: center;
}

img[src="./assets/images/Rectangle 23 (1).png"]{
    width: 80%;
    /* height: 70rem; */
}

/* FIn */

/* Section 7 */
.sec7{
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #618264; */
}

/* FIn */

/* Section 8 */
.sec8{
    display: flex;
    margin:  10rem;
    justify-content: space-between;
    align-items: center;

}

.desc10{
    color: var(--secondarycolor);
    font-style: italic;
    font-size: 1rem;
    font-family: var(--ibmfont);
    text-align: center;
}

.desc11{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

/* FIn */

/* PIED DE PAGE */
footer{
    background: var(--primarycolor);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem;
}

.lien3{
     display: flex;
    justify-content: space-between;
    /* background-color: #fff; */
    width: 30%;
    margin: 3rem 0;
    text-align: center;
}

footer img:hover{
    background-color: #000E01;
    border-radius: 1.2rem;
}
/* Nouveau element */
.menu{
    display: none;
}

.sec4 h2, .sec7 h2{
    display: none;
}


 


/* FIN */

/* Code par SNIPER_PRO */

@media only screen and (max-width: 870px) {

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .section1{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    body{
        margin: 0 2rem;
        width: 100vw;
        overflow-x: hidden;
    }
    .header{
        width: 100%;
        height: 5rem;
        background-color: #618264;
    }

    .logo{
        display: flex;
        justify-content: space-between;
        padding: 0 3rem;
    }
    nav ul, .btn, .sec4 h1{
        display: none;
        /* background: #000; */
    }
    .menu{
        width: 5rem;
        display: flex;
        background-color: #fff;
    }
   /* Nganou */

   .sec1{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    /* width: 100vw; */
    }

   .sec1  img{
    width: 100%;
    height: 70%;
   }
   .img_desc1{
    display: flex;
    flex: 1;
    width: 100%;
     margin: 0;
    padding: 0;
    /* background: #000; */

   }
   .text_desc1{
    /* background: #000; */
    width: 100%;
    margin: 0;
    flex: 1;
    padding: 0;
   }
     .des_sec1{
        /* background-color: aqua; */
        width: 100vw;
        margin: 0;
        padding: 0;
        margin-left: -5rem;
        /* display: flex; */
    }
    .des_sec1 h2{
        width: 100%;
        font-size: 2rem;
        /* background-color:#d6a9a9; */
        display: flex;
        align-items: center;
    }
  

    .des_sec1 ul{
        display: flex;
        flex-direction: column;
        /* width: 100vw; */
        margin: 0;
        padding: 0;
        /* background-color:#231; */
    }

    .des_sec1 li{
        /* background-color: #502e2e; */
        width: 100vw;
        display: flex;
        margin: 0;
        border-bottom: .1rem solid #000;

    }
     .sec3{
        /* background: #000; */
        margin-top: 0;
    }
    .sec3 img{
        width: 100%;
    }

    .sec4 h2, .sec3 h2{
        display: flex;
        font-size: 3.4rem;
        text-align: center;
    } 
    .sec4{
        /* background-color: #d6a9a9; */
        /* width: 100%; */
    }
        
    .sec4_desc{
        display: flex;
        flex-direction: column;
        /* background-color: rgb(178, 63, 207); */
        /* width: 100%; */
         margin: 0;
         padding: 5rem;
         
    } 
    .sec4_img img{
        width: 90%;
        height: 100%;
        background-color: #882b2b;
        text-align: center;
    }

    .desc-sec4{
        margin-top: 3rem;
        /* background: #000; */
        font-size: 2.5rem;
        margin: 0;
        padding: 0;
    }
    .sec4_jou{
        margin: 2rem;
    }
    .lien1{
        width: 100%;
    }
    .desc_sec6{
        display: flex;
        flex-direction: column-reverse;
        /* background-color: #618264; */
        width: 100%;
        margin: 0;
    }
    .desc_text_sec6{
        display: flex;
        flex-direction: column;
        margin: 0 2rem;
        /* background-color: #fff; */
    }

    .desc_text_sec6 h2{
        font-size: 5.5rem;
        margin-bottom: 3rem;
    }

    .sec6_img img{
        width: 100%;

    }
    .sec7{
        display: flex;
        flex-direction: column;
    }
    .sec7 h2{
        display: flex;
        font-size: 5rem;
        font-family: var(--interfontfamily);
        border-left: 1.5rem solid var(--primarycolor);
        padding-left: 1rem;
        align-items: center;
        color: var(--primarycolor);
    }

    .sec7 img{
        width: 100%;
    }
    .lien3{
        width: 100%;
    }

}